@charset "ISO-8859-1";

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	min-height: 100%;
	height: auto;
}

header {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 2%;
	background-color: #5A5AFF;
}

header>div#brand>a {
	flex: 1;
	display: flex;
}

header>div#brand>a>img {
	flex-basis: 10%;
	width: 100%;
}

header>div#brand>a>h1 {
	flex-basis: 85%;
	color: white;
}

header>nav {
	flex: 2;
	display: flex;
	justify-content: flex-start;
}

header>nav>ul {
	display: flex;
	flex: 1;
	justify-content: flex-end;
	list-style-type: none;
}

header>nav>ul>li {
	flex-basis: 10%;
	padding: 1%;
	background-color: #F8F8FF;
	margin-left: 2%;
	border-radius: 5px;
	text-align: center;
	align-self: center;
}

header>nav>ul>li:hover {
	background-color: #CD853F;
}

section {
	margin-top: 5%;
}

section#reg {
	display: flex;
	width: 100%;
	justify-content: center;
}

section#reg>div#hotel-reg, section#reg>div#customer-reg {
	width: 35%;
	margin: 2%;
	border: 1px solid black;
	height: 500px;
}

section.registration {
	width: 100%;
	display: flex;
	justify-content: center;
}

section.registration>div#content {
	flex-basis: 50%;
}

section.registration>div#content>div.nav {
	padding: 4%;
	text-align: center;
}

section.registration>div#content>div.nav>a {
	padding: 4%;
	border: 2px solid black;
	background-color: #000080;
	font-size: 20px;
	font-style: bold;
	color: white;
	border-radius: 10px;
}

section.registration>div#content>div.reg-form {
	margin-top: 5%;
}

section.registration>div#content>div.reg-form>h1 {
	text-align: center;
}

section.registration>div#content>div.reg-form>form {
	margin-top: 2%;
	display: flex;
	justify-content: center;
}

section.registration>div#content>div.reg-form>form>table {
	width: 70%;
}

section.registration>div#content>div.reg-form>form>table>tr>td {
	text-align: left;
	padding-right: 3%;
}